

  
<html>
        
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Rodinný blog zejména o orientačním běhu">.
            <meta name="keywords" content="orientační běh, blog, orienteering, sport,rodina">.
            <meta http-equiv="Content-language" content="cs">

            <title>Kuntovi</title>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
            <link rel="stylesheet" href="/glyphter-font/css/kuntaci.css">
            <link rel="stylesheet/less" href="/article.less">
            <link rel="stylesheet" href="/style.css">
            <script type="text/javascript" src="/less.js"></script>
            <script type="text/javascript" src="/brauncli.js"></script>
        </head>
        
        
        <body>
        
            <header>
                <div class="topmenu var1">
                    <a href="/" class="homeAnchor">
                        <img src="/orilogo.png">
                    </a>
                    <ul>
                        <li><a href="/category/comp">Závody</a></li>
                        <li><a href="/category/though">Myšlenky</a></li>
                        <li><a href ="/category/foto">Fotky</a></li>
                    </ul>
                </div>
                <div class="title">
                    <span class="black">OB</span>
                    <span class="white">Log</span>
                </div>
                <img class="frameLogo" src="/orilogoFrame.png">
                <% for(key in banners)
                {
                    var item = banners[key];
                %>
                    <img class="banner" src="/<%= item.getSrcUrl() %>">
                <%
                }
                %>
            </header>
            <div class="news">
                    <% for(ar in articles)
                    {
                        var article = articles[ar];
                    %>
                <a class="item var2 " href="/article/<%=article._id %>">
                    <div>
                        <p><%= article.header.title %></p>
                        <span class="date"><%= article.printDate() %></span>
                    </div>
                    <img src="/<%= article.getTitlePhotoUrl() %>">
                </a>
                 <% } %>
            <!--    <div class="item var2">
                    
                    <div>
                        <p>Italské Alpy - Revine Lago</p>
                        <span class="icon icon-paraglider "></span>
                    </div>
                    <img src="public/images/alpy.jpg">
                </div>-->
                <script>
                  carousel("banner",4);
                </script>
            </div>
        </body>
        
        </html>